body {
    padding: 8px 16px;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    background-color: rgba(0, 255, 255,0.3);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.player {
    color: white;
    font-weight: bold;
    padding: 8px;
    border-radius: 5px;
    text-underline-offset: 6px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

div#p1 {
    background-color: red;
}

div#p2 {
    background-color: green;
}

div.banner-info {
    background-color: yellow;
    padding: 16px;
    border-radius: 10px;
    font-size: 2.5rem;
}

nav.setup {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-bottom: 8px;
}

nav > button {
    padding: 5px 15px;
    font-size: 1.3rem;
}

main.board {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.row {
    display: flex;
}

button.cell {
    height: 200px;
    width: 200px;
    background-color: white;
    font-size: 10rem;
}